.financial-charts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  h1{
    font-size: large;
    text-align: center;
  }
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .chart-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px);
  }
  
  .chart-card h2 {
    margin-top: 0;
  }
  
  .chart-card p {
    margin-bottom: 10px;
  }
  
  .chart-card a {
    display: block;
    padding: 8px 16px;
    background-color: #05426e;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .chart-card {
      flex-basis: calc(50% - 20px);
    }
  }
  